body {
    font-family: Roboto;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.hero-container {
    padding: 8px 64px;
    background-color: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    color: #F9FAF8;
    font-size: 16px;
    margin: 0;
}

.header.links {
    margin-left: auto;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
}

a, .hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    padding: 64px 0px;
    gap: 16px;
}

.hero-text {
    width: 500px;
    flex: 1;
}

.hero-text h1 { 
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    width: 100px;
    border-radius: 8px;
    padding: 12px;
    font-weight: 700;
}

.hero-img {
    flex: 2;
    background-color: #666;
    color: white;
    margin: auto;
    text-align: center;
    padding: 120px 0px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.container-2 > h1 {
    margin: 48px 0px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.image {
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.inside-image {
    width: 60px;
    height: 50px;
    padding: 50px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}

.image-text {
    color: #1F2937;
}


.container-3 {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.quote {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.text {
    font-size: 36px;
    font-style: italic;
    margin-bottom: 0;
}

.author {
    font-size: 20px;
    font-weight: bolder;
    text-align: right;
}

.container-4 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 70px;
}

.call-to-action-container {
    width: 80%;
    background-color: #3882F6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    border-radius: 8px;

    button {
        border: 2px solid white;
        width: 120px;
        height: 40px;
    }
}

.call-text {
    color: white;
    text-align: left;
    h1 {
        margin-bottom: 0;
    }
    
    p {
        margin-top: 0;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #1F2937;
    color: white;
    padding-top: 40px;
}